.noto-sans-arabic-main, .noto-sans-arabic-secondary {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-arabic-main {
  font-weight: 800;
  font-size: 3em;
}

.noto-sans-arabic-secondary {
  font-weight: 400;
  font-size: 1.6em;
}

.brat {
  background-color: #8ACE00;
  margin: 12px;
  padding: 16px;
}

.brat-main, .brat-secondary {
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: 1;
    letter-spacing: -1px;
}

.brat-main {
  font-weight: 400;
  font-size: 2em;
}

.brat-secondary {
  font-weight: 200;
  font-size: 1.6em;
}

.playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
