.noto-sans-arabic-main, .noto-sans-arabic-secondary {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-arabic-main {
  font-weight: 500;
}

.noto-sans-arabic-secondary {
  font-weight: 100;
}

.test-color {
  color: red;
}
